<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../../../assets/css/base_new.css">
    <script src="../../../assets/common/js/jquery.min.js"></script>
    <script src="../../../assets/js/home/home_new.js"></script>
    <script src="../../../assets/common/js/util.js"></script>
    <title>荏苒追寻</title>
</head>
<body>
<div class="page-wrapper">
    <header id="header" class="alt">
        <h1><a href="../Navigation/navToWelcome">荏苒追寻</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="../Navigation/navToWelcome">Home</a></li>
                            <li><a href="../Navigation/navToGeneric">Generic</a></li>
                            <li><a href="../Navigation/navToElements">Elements</a></li>
                            <li><a href="#">Sign Up</a></li>
                            <li><a href="#">Log In</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <div style="background-color: #00CC00; width: 100%; height: 1000px">

    </div>
</div>
</body>
</html>